@import "colors";
@import "mixins";
@import "positions";
@import "settings";

$bar: $intPX solid;
$pos: fixed, absolute;

@each $pos in $pos {
    .#{$p}bar-top-#{$pos} {
        @include bar(top, left, $pos);
        border-top: $bar;
        width: 100%;
    }
    .#{$p}bar-left-#{$pos} {
        @include bar(top, left, $pos);
        border-top: $bar;
        height: 100%;
    }
    .#{$p}bar-bottom-#{$pos} {
        @include bar(bottom, left, $pos);
        border-bottom: $bar;
        width: 100%;
    }
    .#{$p}bar-right-#{$pos} {
        @include bar(top, right, $pos);
        border-right: $bar;
        height: 100%;
    }
}

.#{$p}bar-top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    border-top: $bar;
    width: 100%;
}
.#{$p}bar-left-fixed {
    position: fixed;
    top: 0;
    left: 0;
    border-left: $bar;
    height: 100%;
}
.#{$p}bar-bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom: $bar;
    width: 100%;
}
.#{$p}bar-right-fixed {
    position: fixed;
    top: 0;
    right: 0;
    border-right: $bar;
    height: 100%;
}

.#{$p}yellow-green.#{$p}bar-top,
.#{$p}yellow-green.#{$p}bar-bottom,
.#{$p}yellow-green.#{$p}bar-top-fixed,
.#{$p}yellow-green.#{$p}bar-bottom-fixed,
.#{$p}yellow-green.#{$p}bar-top-absolute,
.#{$p}yellow-green.#{$p}bar-bottom-absolute {
    background: none;
    border-image: $yellow-green-s;
}
.#{$p}yellow-green.#{$p}bar-left,
.#{$p}yellow-green.#{$p}bar-right,
.#{$p}yellow-green.#{$p}bar-left-fixed,
.#{$p}yellow-green.#{$p}bar-right-fixed,
.#{$p}yellow-green.#{$p}bar-left-absolute,
.#{$p}yellow-green.#{$p}bar-right-absolute {
    background: none;
    border-image: $yellow-green-s-b;
}
.#{$p}green-yellow.#{$p}bar-top,
.#{$p}green-yellow.#{$p}bar-bottom,
.#{$p}green-yellow.#{$p}bar-top-fixed,
.#{$p}green-yellow.#{$p}bar-bottom-fixed,
.#{$p}green-yellow.#{$p}bar-top-absolute,
.#{$p}green-yellow.#{$p}bar-bottom-absolute {
    background: none;
    border-image: $green-yellow-s;
}
.#{$p}green-yellow.#{$p}bar-left,
.#{$p}green-yellow.#{$p}bar-right,
.#{$p}green-yellow.#{$p}bar-left-fixed,
.#{$p}green-yellow.#{$p}bar-right-fixed,
.#{$p}green-yellow.#{$p}bar-left-absolute,
.#{$p}green-yellow.#{$p}bar-right-absolute {
    background: none;
    border-image: $green-yellow-s-b;
}
