.sw-round-small {
    border-radius: 2px;
}
.sw-round,
.sw-round-medium {
    border-radius: 5px;    
}
.sw-round-large {
    border-radius: 10px;
}
.sw-round-xlarge {
    border-radius: 20px;
}
.sw-round-xxlarge {
    border-radius: 40px;
}
.sw-circle {
    border-radius: 50%;
}
