@import "settings";

.#{$p}round-small {
    border-radius: 2px;
}
.#{$p}round,
.#{$p}round-medium {
    border-radius: 5px;    
}
.#{$p}round-large {
    border-radius: 10px;
}
.#{$p}round-xlarge {
    border-radius: 20px;
}
.#{$p}round-xxlarge {
    border-radius: 40px;
}
.#{$p}circle {
    border-radius: 50%;
}
