@import "colors";
@import "font";
@import "settings";

$buttons: sw-button, sw-button-shadow, sw-button-border, sw-btn;

@each $btn in $buttons {
    .#{$btn} {
        background: $yellow;
        border: 2px solid $green;
        font-family: $font;
        border-radius: 5px;
        font-size: 16px;
        font-weight: $fw;
        transition: 0.25s filter;
    }
    .#{$btn}:hover {
        filter: brightness(125%);
        cursor: pointer;
        transition: 0.25s filter;
    }
    .#{$btn}:active {
        filter: brightness(90%);
        transition: 0s filter;
    }
    .#{$btn}:focus {
        outline: none;
    }

    @each $name, $value in $colors {
        .#{$btn}.#{$p}#{$name} {
            background: $value;
            border-color: $value;
            @if $name == "dark-green" {
                color: white;
            }
        }
        .#{$p}button-border.#{$p}#{$name} {
            background: $value;
            border-color: lighten($value, 20%) !important;
        }
        
        .#{$p}btn:active {
            border: none !important;
            position: relative;
            top: 2px;
        }
        .#{$p}btn.#{$p}#{$name} {
            border: none;
            border-bottom: 2px solid lighten($value, 20%);
        }
    }
}
