@import "colors";
@import "font";
@import "mixins";
@import "settings";

$buttons: #{$p}button, #{$p}button-shadow, #{$p}button-border, #{$p}btn;

@each $btn in $buttons {
    .#{$btn} {
        @include font();
        background: $yellow;
        border: 2px solid $green;
        border-radius: 5px;
        font-size: 16px;
        transition: 0.25s filter, 0.25s box-shadow;
    }
    .#{$btn}:hover {
        filter: brightness(125%);
        cursor: pointer;
        transition: 0.25s filter, 0.25s box-shadow;
        @if $btn == "#{$p}button-shadow" {
            box-shadow: 2px 2px 5px lighten($black, 50%);
        }
    }
    .#{$btn}:active {
        filter: brightness(90%);
        transition: 0s filter;
    }
    .#{$btn}:focus {
        outline: none;
    }

    .#{$p}btn:active {
        border: none !important;
        position: relative;
        top: 2px;
    }

    @each $name, $value in $colors {
        .#{$btn}.#{$p}#{$name} {
            background: $value;
            border-color: $value;
            @if $name == "dark-green" {
                color: white;
            }
        }
        .#{$p}button-border.#{$p}#{$name} {
            background: $value;
            border-color: lighten($value, 20%) !important;
        }

        .#{$p}btn.#{$p}#{$name} {
            border: none;
            border-bottom: 2px solid lighten($value, 20%);
        }
    }
}

@each $name, $value in $colors {
    .#{$p}button.#{$p}#{$name},
    .#{$p}button-shadow.#{$p}#{$name} {
        background: $value;
        border-color: $value;
        @if $name == "dark-green" {
            color: white;
        }
    }
}
