@import "positions";
@import "settings";

$colors: (
    black: #000,
    gray: #c7c6c6,
    white: #fff,
    red: #df0000,
    orange: #ff5c39,
    yellow: #fdb400,
    green: #008c2b,
    dark-green: #00491e,
    purple: #4c006a
);
$black: #000;
$gray: #c7c6c6;
$white: #fff;
$red: #df0000;
$orange: #ff5c39;
$yellow: #fdb400;
$green: #008c2b;
$dark-green: #00491e;
$purple: #4c006a;

$yellow-green: linear-gradient(to right, $yellow, $green);
$yellow-green-s: linear-gradient(to right, $yellow 0%, $yellow 50%, $green 50%) 5;
$yellow-green-s-b: linear-gradient(to bottom, $yellow 0%, $yellow 50%, $green 50%) 5;
$green-yellow: linear-gradient(to right, $green, $yellow);
$green-yellow-s: linear-gradient(to right, $green 0%, $green 50%, $yellow 50%) 5;
$green-yellow-s-b: linear-gradient(to bottom, $green 0%, $green 50%, $yellow 50%) 5;

@each $name, $value in $colors {
    .#{$p}#{$name} {
        background: $value;
        @if $name == "dark-green" {
            color: white;
        }
    }
    .#{$p}text-#{$name} {
        color: $value;
    }

    @each $pos in $positions {
        .#{$p}#{$name}.#{$p}bar-#{$pos},
        .#{$p}#{$name}.#{$p}bar-#{$pos}-fixed {
            background: none;
            border-color: $value;
        }
    }
}

.#{$p}text-yellow-green {
    background: $yellow-green;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.#{$p}text-green-yellow {
    background: $green-yellow;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
