@import "settings";

$weights: (
    thin: 100,
    extra-light: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900,
    extra-black: 950
);

@each $name, $val in $weights {
    .#{$p}fw-#{$name} {
        font-weight: $val;
    }
}

.#{$p}font-light {
    font-family: "Unisect Light", sans-serif;
    font-weight: 300;
}
.#{$p}font {
    font-family: "Unisect", sans-serif;
}
.#{$p}font-bold {
    font-family: "Unisect Bold", sans-serif;
    font-weight: 700;
}
.#{$p}font-black {
    font-family: "Unisect Black", sans-serif;
    font-weight: 900;
}
.#{$p}font-italic {
    font-family: "Unisect Oblique", sans-serif;
    font-style: italic;
}
.#{$p}font-light,
.#{$p}font,
.#{$p}font-bold,
.#{$p}font-black,
.#{$p}font-italic {
    letter-spacing: -1px;
}

.#{$p}center {
    text-align: center;
}
.#{$p}left {
    text-align: left;
}
.#{$p}right {
    text-align: right;
}

.#{$p}tight {
    letter-spacing: -1px;
}
.#{$p}wide {
    letter-spacing: 5px;
}

@each $name, $size in $fontSizes {
    .#{$p}#{$name} {
        font-size: $size;
    }
}

// Import the Custom Font
@font-face {
    font-family: "Unisect Light";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Light.woff?v=1642223904627") format("woff");
}
@font-face {
    font-family: "Unisect";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect.woff?v=1642223904542") format("woff");
}
@font-face {
    font-family: "Unisect Oblique";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Oblique.woff?v=1642223904440") format("woff");
}
@font-face {
    font-family: "Unisect Bold";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Bold.woff?v=1642223904497") format("woff");
}
@font-face {
    font-family: "Unisect Black";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Black%20(1).woff?v=1642225026568") format("woff");
}
