@use "sass:math";
@import "colors";
@import "mixins";
@import "settings";

// Inputs
.#{$p}input {
    $inputBorderColor: rgba(black, 0.25);
    $inputBorderWidth: 2px;
    $inputBorderRadius: 10px;

    @include font();
    padding: 2px;
    background: transparent;
    border: {
        width: $inputBorderWidth;
        style: solid;
        color: $inputBorderColor;
        radius: $inputBorderRadius;
    }

    &, &:hover, &:focus {
        transition: 0.25s border-radius;
    }
    &:hover, &:focus {
        border: {
            radius: math.div($inputBorderRadius, 2);
        }
    }

    &:focus {
        outline: none;
    }

    &.#{$p}no-border {
        &, &:hover, &:focus {
            border: {
                width: 0px;
                color: transparent;
                radius: 0px;
            }
        }
        padding: 0px;
    }
    &.#{$p}border-left, &.#{$p}border-right, &.#{$p}border-bottom, &.#{$p}border-top {
        &, &:hover, &:focus {
            border: {
                radius: 0px;
            }
        }
    }
    &.#{$p}border-left {
        border: {
            top: none;
            right: none;
            bottom: none;
        }
    }
    &.#{$p}border-right {
        border: {
            top: none;
            left: none;
            bottom: none;
        }
    }
    &.#{$p}border-bottom {
        border: {
            top: none;
            left: none;
            right: none;
        }
    }
    &.#{$p}border-top {
        border: {
            bottom: none;
            left: none;
            right: none;
        }
    }
}

// Select
.#{$p}select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: 2px solid white;

    &, & * {
        @include font();
    }

    &:focus {
        outline: none;
    }
}

@each $name, $value in $colors {
    .#{$p}select.#{$p}#{$name} {
        border: 2px solid $value;
        @if $name == "dark-green" {
            color: white;
        }
    }
}

// Textarea
.#{$p}textarea {
    @include font();
    background: transparent;
    resize: none;
    border: none;
    border-bottom: 1px solid $gray;
    border-radius: 5px;
}
.#{$p}textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px lighten($black, 50%);
}

@each $name, $value in $colors {
    .#{$p}textarea.#{$p}#{$name} {
        background: transparent;
        border-color: $value;
    }
}
