@import "colors";
@import "settings";

.#{$p}modal {
    background: #0009;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 65535;
    display: none;
}
.#{$p}modal .#{$p}modal-content {
    margin-top: 10%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 65536;
    background: #fff;
    padding: 10px;
}

@each $name, $value in $colors {
    .#{$p}modal.#{$p}#{$name} {
        background: #0009;
    }
    .#{$p}modal.#{$p}#{$name} .#{$p}modal-content {
        background: $value;
    }
}
