@import "colors";
@import "settings";

$navbar: sw-navbar, sw-navbar-fixed;

@each $nav in $navbar {
    .#{$p}navbar {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.75);
    }
    .#{$p}navbar-fixed {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.75);
    }

    .#{$nav} {
        z-index: 999;
        font-size: 40px;
        padding: 5px 0px 5px 0px;
        width: 100%;
    }
    .#{$nav} .#{$p}logo {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid $gray;
    }
    .#{$nav} ul {
        list-style-type: none;
        display: inline-flex;
        margin: 0;
        padding: 0px 0px 0px 10px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
    }
    .#{$nav} ul li {
        display: block;
        padding: 0px 15px 0px 15px;
    }

    @each $name, $value in $colors {
        .#{$p}#{$nav}.#{$p}#{$name} {
            background: rgba($value, 0.75)
        }
    }
}
