@import "settings";

$positions: top, left, right, bottom;
$positionss: relative, absolute, fixed;
$bar: $intPX solid;

@each $pos in $positions {
    .#{$p}margin {
        margin: $intPX;
    }
    .#{$p}margin-#{$pos} {
        margin-#{$pos}: $intPX;
    }

    .#{$p}padding {
        padding: $intPX;
    }
    .#{$p}padding-#{$pos} {
        padding-#{$pos}: $intPX;
    }
    @for $i from 1 through 10 {
        .#{$p}padding#{$i} {
            padding: #{$i * 10}px;
        }
        .#{$p}padding#{$i}-#{$pos} {
            padding-#{$pos}: #{$i * 10}px;
        }

        .#{$p}margin#{$i} {
            margin: #{$i * 10}px;
        }
        .#{$p}margin#{$i}-#{$pos} {
            padding-#{$pos}: #{$i * 10}px;
        }
    }

    .#{$p}bar-#{$pos} {
        border-#{$pos}: $bar;
        @if $pos == "top" {
            width: 100%;
        } @else if $pos == "bottom" {
            width: 100%;
        } @else {
            height: 100%;
        }
    }
}

@each $pos in $positionss {
    .#{$p}#{$pos} {
        position: $pos;
    }
}
