@import "settings";

$positions: top, left, right, bottom;
$bar: $intPX solid;

@each $pos in $positions {
    .#{$p}margin {
        margin: $intPX;
    }
    .#{$p}margin-#{$pos} {
        margin-#{$pos}: $intPX;
    }

    .#{$p}padding {
        padding: $intPX;
    }
    .#{$p}padding-#{$pos} {
        padding-#{$pos}: $intPX;
    }
    @for $i from 1 through 5 {
        .#{$p}padding#{$i} {
            padding: #{$i}#{"%"}
        }
        .#{$p}padding#{$i}-#{$pos} {
            padding-#{$pos}: #{$i}#{"%"}
        }
    }

    .#{$p}bar-#{$pos} {
        border-#{$pos}: $bar;
        @if $pos == "top" {
            width: 100%;
        } @else if $pos == "bottom" {
            width: 100%;
        } @else {
            height: 100%;
        }
    }
}
