// Important Settings
$prefix: sw-;
$font: "Roboto", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontWeight: 300;

// Other Settings
$int: 10;
$intPX: #{$int}px;

// Aliases
$p: $prefix;
$fw: $fontWeight;
