@import "colors";
@import "font";
@import "settings";

$states: (
    hover: hover,
    active: active,
    focus: focus,
    sel: selection
);

@each $class, $sel in $states {
    @each $name, $value in $colors {
        .#{$p}#{$name}\:#{$class}::#{$sel},
        .#{$p}#{$name}\:#{$class} *::#{$sel} {
            background: $value;
        }
        .#{$p}text-#{$name}\:#{$class}::#{$sel},
        .#{$p}text-#{$name}\:#{$class} *::#{$sel} {
            color: $value;
        }
    }
    @each $name, $value in $weights {
        .#{$p}fw-#{$name}\:#{$class}::#{$sel},
        .#{$p}fw-#{$name}\:#{$class} *::#{$sel} {
            font-weight: $value;
        }
    }
}
