@import "colors";

.sw-table {
    border-collapse: collapse;
    width: 100%;
}
.sw-table th,
.sw-table td {
    padding: 5px;
}
.sw-table.sw-striped tr:nth-child(even),
.sw-table.sw-all tr:nth-child(even) {
    background: #f1f1f1;
}
.sw-table.sw-bordered tr,
.sw-table.sw-all tr {
    border-bottom: 1px solid $gray;
}
.sw-table.sw-border,
.sw-table.sw-all {
    border: 1px solid $gray;
}
