@import "colors";
@import "settings";

.#{$p}table {
    border-collapse: collapse;
    width: 100%;
}
.#{$p}table th,
.#{$p}table td {
    padding: 5px;
}
.#{$p}table.#{$p}striped tr:nth-child(even),
.#{$p}table.#{$p}all tr:nth-child(even) {
    background: #f1f1f1;
}
.#{$p}table.#{$p}bordered tr,
.#{$p}table.#{$p}all tr {
    border-bottom: 1px solid $gray;
}
.#{$p}table.#{$p}border,
.#{$p}table.#{$p}all {
    border: 1px solid $gray;
}
