@charset "UTF-8";

@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap';

@import "bars";
@import "blockquote";
@import "border";
@import "button";
@import "card";
@import "colors";
@import "container";
@import "font";
@import "inputs";
@import "img";
@import "mixins";
@import "modal";
@import "nav";
@import "positions";
@import "settings";
@import "table";

body {
    margin: 0;
    font-size: 16px;
    font-family: $font;
    font-weight: $fw;
}
