@charset "UTF-8";

@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap';

@import "scss/bars";
@import "scss/button";
@import "scss/colors";
@import "scss/font";
@import "scss/int";
@import "scss/modal";
@import "scss/nav";
@import "scss/positions";
@import "scss/table";

:root {
    --font: "Roboto", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --yellow: #FDB400;
    --green: #008C2B;
    --red: #FF5C39;
    --yellow-green: linear-gradient(to right, var(--yellow), var(--green));
    --yellow-green-s: linear-gradient(to right, var(--yellow) 0%, var(--yellow) 50%, var(--green) 50%) 5;
    --yellow-green-s-b: linear-gradient(to bottom, var(--yellow) 0%, var(--yellow) 50%, var(--green) 50%) 5;
    --green-yellow: linear-gradient(to right, var(--green), var(--yellow));
    --green-yellow-s: linear-gradient(to right, var(--green) 0%, var(--green) 50%, var(--yellow) 50%) 5;
    --green-yellow-s-b: linear-gradient(to bottom, var(--green) 0%, var(--green) 50%, var(--yellow) 50%) 5;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: var(--font);
    font-weight: $fw;
}

a:link,
a:hover,
a:visited {
    color: #00572d;
    text-decoration: underline;
}

/** Alignments **/
.sw-center {
    text-align: center;
}
.sw-left {
    text-align: left;
}
.sw-right {
    text-align: right;
}

/** Borders **/
/* Radius */
.sw-round-small {
    border-radius: 2px;
}
.sw-round,
.sw-round-medium {
    border-radius: 5px;    
}
.sw-round-large {
    border-radius: 10px;
}
.sw-round-xlarge {
    border-radius: 20px;
}
.sw-round-xxlarge {
    border-radius: 40px;
}
.sw-circle {
    border-radius: 50%;
}

/* Gradients */
.sw-text-yellow-green {
    background: var(--yellow-green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sw-text-green-yellow {
    background: var(--green-yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** Images **/
img.sw-bordered {
    border: 1px solid $gray;
    padding: 5px;
}

/** Letter Spacing **/
.sw-tight {
    letter-spacing: -1px;
}
.sw-wide {
    letter-spacing: 5px;
}

/** Fonts **/
@font-face {
    font-family: "Unisect Light";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Light.woff?v=1642223904627") format("woff");
}
@font-face {
    font-family: "Unisect";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect.woff?v=1642223904542") format("woff");
}
@font-face {
    font-family: "Unisect Oblique";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Oblique.woff?v=1642223904440") format("woff");
}
@font-face {
    font-family: "Unisect Bold";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Bold.woff?v=1642223904497") format("woff");
}
@font-face {
    font-family: "Unisect Black";
    src: url("https://cdn.glitch.global/eb49ccc8-ffaa-44bb-8f04-39053cb25379/Unisect%20Black%20(1).woff?v=1642225026568") format("woff");
}
